body{
  background-color:#B9E0FF;
}
hr{
  border-style:none;
  border-top: dotted;
  border-color:white;
  border-width:3px;
}
h1{
  color:#8D9EFF;
}
h2{
  color:#8D9EFF;
}
h3{
  color:#8D9EFF;
}
